
body {
  background-color: #333;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  flex-direction: column;
}

.subtitle {
  font-size: 40px;
  text-decoration: underline;
  color: white;
}

.rps  {
  border: 5px solid black;
  margin:auto;
  display: grid;
  height: 300px;
  width: 600px;
}

.rock,
.paper,
.scissors {
  margin: 10px;
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
	color: white;
	font-size: 30px;
}

.p1,
.p2,
.p3 {
  height: 200px;
  width: 200px;
  margin: 100px 50px auto 50px;
  align-items: center;
}

.selection {
  font-size: 25px;
  color: white;
}
