body {
  background-color: #333;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  flex-direction: column;
}

.subtitle {
  font-size: 40px;
  text-decoration: underline;
  color: white;
}

.rps {
  border: 5px solid black;
  margin: auto;
  display: grid;
  height: 300px;
  width: 600px;
}

.rock,
.paper,
.scissors {
  margin: 10px;
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
	color: white;
	font-size: 30px;
}

.p1,
.p2,
.p3 {
  height: 200px;
  width: 200px;
  margin: 100px 50px auto 50px;
  align-items: center;
}

.selection {
  font-size: 25px;
  color: white;
}

.winner {
  font-size: 30px;
}

.score1,
.score2 {
  border: 10px solid black;
  display: inline-block;
  align-items: center;
  height: 100px;
  width: 200px;
	color: white;
	font-size: 30px;
  margin: 10px auto 10px;
  padding-top: 20px;
  font-size: 3rem;
}

.label {
  display: inline-block;
  align-items: center;
	color: white;
	font-size: 20px;
  margin: 15px 45px 10px 65px;
  text-decoration: underline;
}

.reset-game {
  background-color: #666;
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
}

.reset-game:hover {
  background-color: #444;
}

#results.result--win {
  color: green;
  font-size: 20px;
}

#results.result--lose {
  color: red;
  font-size: 20px;
}


#results {
  font-size: 18px;
  color: white;
}